<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="script.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>Exercise 4.4 - AngularJS Movie Rating</title>
</head>
<body ng-app="starExample" ng-controller="ctrl as rating">
    <h1>Exercise 4.4 AngularJS Movie Rating</h1>
    <div id="movieContainer" ng-repeat="x in movies">
        <h1>{{x.title}}</h1>
        <p>{{x.length}} minutes</p>
        <p>{{x.description}}</p>
    </div>
    <rating ng-model="rating.rating" stars="3" max="5"/>
</body>
</html>