body {
    background-color: rgba(94,186,165, 1);
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
}

p.status {
    font-style: italic;
    text-align: center;
}

/* ==========================================================================
   Game
   ========================================================================== */

#sorting-game {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.block {
    padding-top: 5px;
    transition: opacity 0.5s ease-out;
    width: 400px;
}

.block.edge {
    padding-top:5px;
    padding-bottom:5px;
}

.block .number-field {
    padding: 10px;
    background-color: rgba(195,213,209,0.5);
    cursor: move;
    margin: 5px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    box-shadow:  1px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

.block .dropable-area {
    border-radius: 5px;
    color: #818181;
    cursor: pointer;
    font-style: italic;
    height: 0px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    transition: height 0.2s ease-out;
}

.block.active .dropable-area {
    height: 40px;
    margin: 5px 0;
    background: rgba(195,213,209,1);
    border: 3px dashed #818181;
}